<div class="{{classPrefix}}" title="{{name}}">
  <div class="{{classPrefix}}-buttons">
    <span class="{{classPrefix}}-remove" data-role="remove-file"></span>
  </div>
  {{#if src}}<img src="{{src}}" alt="{{name}}" />{{/if}}
</div>
